<% if menu %>
  <div class="navbar navbar-static" style="margin: -2px">
    <div class="navbar-inner">
      <div class="container" style="width: auto;">

        <% if menu.project %>
          <%= link_to(menu.project[:caption], {controller: menu.project[:controller], action: menu.project[:action]}, class: "brand") %>
        <% end %>

        <% menu.dropdowns.each do |dropdown| %>
          <ul class="nav <%= dropdown.position.to_s == 'right' ? 'pull-right' : '' %>">
            <li class="dropdown">
              <%= link_to("#{dropdown.caption} <b class='caret'></b>".html_safe, "#", {class: "dropdown-toggle", 'data-toggle' => "dropdown"}) %>
              <ul class="dropdown-menu">
              <% dropdown.subitems.each do |item| %>
                <% unless item == "---" %>
                  <li>
                    <%= link_to(item[:caption], {controller: item[:controller], action: item[:action]}) %>
                  </li>
                <% else %>
                  <li class="divider"></li>
                <% end %>
              <% end %>
              </ul>
            </li>
          </ul>
        <% end %>

      </div>
    </div>
  </div>
<% end %>